* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.hero-section .flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.flex-item {
  width: 100%;
}

.hero-section {
  background: #000;
  color: #fff;
  height: 680px;
  border-radius: 8px;
}

.hero-section:hover {
  animation: bg-animate 3s linear infinite;
}

@keyframes bg-animate {
    0%   {
      background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgb(0, 89, 255) 100%);
    }
    25%  {
      background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgb(0, 89, 255) 100%);
    }
    50%  {
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgb(0, 89, 255) 100%);
    }
    75%  {
      background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgb(0, 89, 255) 100%);
    }
    100% {
      background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgb(0, 89, 255) 100%);
    }
}

.banner-section {
  padding-top: 20px;
  box-sizing: content-box;
}

.banner-left {
  padding: 10px;
  text-align: center;
  margin-top: 15px;
}

.banner-btn {
  background: linear-gradient(45deg, rgba(252,0,22,1) 0%, rgba(213,16,230,1) 100%);
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  outline: none;
  transition: 0.5s;
  display: inline-block;
}

.banner-btn:hover {
  background: rgba(43, 42, 42, 0.849);
}

.btn-arrow i {
  transition: 0.5s;
}

.banner-btn:hover .btn-arrow i {
  transform: translateX(5px);
}

.banner-left {
  padding:  0 55px;
  padding-top: 20px;
}

.banner-left p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
}
.banner-right {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  width: 50%;
  justify-content: center;
}
.banner-img img {
  width: 250px;
  margin-bottom: -4px;
  overflow: hidden;
}

/* styles for selected btns  */
.select-btn-container {
  margin: 20px 0;
}

.select-btn-container .flex-item {
  text-align: center;
} 

a , button {
  cursor: pointer;
  text-decoration: none;
}

.btn {
  padding: 15px 40px;
  border-radius: 8px;
  border: none;
  display: inline-block;
  margin: 3px 0;
  font-weight: 700;
  color: black;
}

/* styles for card  */
.card {
  padding: 10px;
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 150px;
}

.card-details {
  padding: 15px;
}

.card button {
  padding: 5px 10px;
  border: 1px solid rgb(34, 33, 33);
  border-radius: 5px;
  background: transparent;
  font-weight: 700;
}

.card h4 {
  font-weight: 700;
  margin: 15px 0;
}

.card span {
  font-size: 13px;
  margin-left: 10px;
}

.btn.active {
  background: linear-gradient(45deg, rgba(252,0,22,1) 0%, rgba(213,16,230,1) 100%);
  color: #fff;
}

.card-icons img {
  width: 15px;
  height: auto;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

/* styles for view-all-btn   */
.view-all-btn {
  display: none;
  text-align: center;
  margin: 40px 0;
}

.view-all-btn .btn {
  padding: 15px 30px;
}


/* styles for footer-section */
.footer-section {
  background: rgb(22, 21, 21);
  color: #fff;
}

.footer-section hr {
  width: 90%;
  margin: auto;
  opacity: 0.2;
}

.footer-title {
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
}

.footer-menu {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
}

.footer-menu a {
  color: #fff;
  padding: 15px 0;
}


/* styles for website2 card */

.card2 {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card2-container {
  width: 100%;
  border: 1px solid rgba(160, 159, 159, 0.445);
  border-radius: 10px;
  padding: 20px;
  box-sizing: content-box;
}

.card2-top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}

.card2-top img {
  width: 100px;
  height: 100%;
}

.card2-top span {
  margin: 0 10px;
  font-weight: 700;
}

.card2-details {
  text-align: center;
}

.card2-details h4 {
  margin: 10px 0;
}

.card2-details p {
  margin: 10px 0;
}

.social-icon {
  display: flex;
  justify-content: center;
}
.social-icon a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
.social-icon i {
  margin-left: 15px;
}

.copyright-text {
  text-align: center;
  color: #fff;
  padding: 30px 0;
}

@media only screen and (max-width: 767px) {
  .banner-left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  .banner-left .banner-btn {
    width: fit-content;
  }
}

@media only screen and (min-width: 768px) {
  .flex-item {
    width: 50%;
  }
  .hero-section .flex-container {
    height: 100%;
    flex-wrap: nowrap;
  }
  .hero-section {
    height: 45vh;
    border-radius: 20px;
  }

  .banner-section {
    padding-top: 40px;
  }

  .banner-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding: 0 20px;
  }

  .banner-left h1 {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
  }

  .banner-left p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
  }

  .banner-img img {
    width: 345px;
  }

  .hero-section {
    display: flex;
    align-items: center;
    padding: 0px 25px;
    justify-content: center;
  }

  .banner-btn {
    padding: 0;
    width: inherit;
  }

  .banner-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
  }

  .select-btn-container .flex-item {
    width: 33.3333%;
  }

  .view-all-btn {
    display: block;
  }

  .btn {
    padding: 10px 20px;
  }

  .footer-menu {
    flex-direction: row;
  }

  .footer-menu a {
    padding: 15px 20px;
  }

  .card2-top img {
    width: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 80%;
  }
  .flex-item {
    width: 33.3333%;
  }
  .hero-section .hero-section {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 30px;
  }

  .banner-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-main {
    display: flex;
    justify-content: center;
  }

  .select-btn-container {
    width: 200px;
  }

  .card-container {
    width: 80%;
  }

  .view-all-btn {
    display: none;
  }
  
  .section-main {
    margin-top: 20px;
  }

  .select-btn-container .flex-item {
    width: 100%;
  }

  .select-btn-container {
    height: fit-content;
  }

  .select-btn-container {
    background-color: navy;
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
  }

  .select-btn-container .btn {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
  }

  .select-btn-container .btn {
    background-color: #fff;
  }

  .select-btn-container .btn.btn.active {
    background: linear-gradient(45deg, rgba(252,0,22,1) 0%, rgba(213,16,230,1) 100%);
  }

  .card2-top img {
    width: 70px;
  }

  .footer-section {
    padding: 50px;
    margin-top: 30px;
  }

  .footer-section hr {
    margin: 40px;
  }
}